.hero {
  background-color: #495e57;
  width: 100%;
}

.banner {
  color: #edefee;
  padding: 2rem 13%;
  position: relative;
}

h2 {
  color: #f4ce14;
  font-size: 2.5rem;
  padding-top: 1rem;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.banner p {
  color: #edefee;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.banner-info {
  width: fit-content;
  max-width: 20vw;
}

.btnHero {
  background-color: #f4ce14;
  color: #333333;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.btnHero:hover {
  background-color: #edefee;
  color: #495e57;
}

.banner-img {
  position: absolute;
  right: 13%;
  top: 17%;
  width: 25vw;
}

.banner-img img {
  width: 100%;
  height: 25vw;
  border-radius: 16px;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .banner {
    padding: 1rem;
  }
  .banner-info {
    max-width: 100%;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .banner p {
    font-size: 0.875rem;
  }

  .banner-img {
    display: none;
  }

  button {
    width: auto;
  }
}
