.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 4rem;
}

.testimonials-header {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -640px;
}

.testimonials-header h3 {
  color: #edefee;
}

.testimonials-container {
  width: 70%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 15px;
}

.card2 {
  background: #edefee;
  width: 300px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.card2 .image {
  width: 100px;
  border-radius: 100%;
}

.card2 .userName {
  font-weight: bold;
  margin: 10px 0;
}

.card2 .stars {
  width: 70%;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .testimonials-wrapper {
    align-items: center;
    padding-block: 2rem;
  }

  .testimonials-header {
    width: 90%;
    padding: 10px 5%;
    align-items: center;
    margin-left: 0;
    text-align: center;
  }

  .testimonials-container {
    width: 90%;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10px 5%;
  }

  .card2 {
    width: 50%;
    min-width: 50%;
    margin-right: 10px;
  }

  .card2 .image {
    width: 80px;
  }

  .card2 .stars {
    width: 50%;
  }
}
