/* General styles */
h2 {
  color: #f4ce14;
  font-size: 40px;
  margin: 0;
}

h3 {
  color: #edefee;
  font-size: 25px;
}

p {
  color: #495e57;
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
}

.testimonials {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.testimonials-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-header {
  width: 78%;
  padding: 10px 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.testimonials-container {
  width: 70%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 15px;
}

.card2 {
  background: #edefee;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.card2 img {
  margin-bottom: 5px;
  border-radius: 100%;
}

.card2 .userName {
  font-weight: bold;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .testimonials-header {
    width: 90%;
    padding: 10px 5%;
    align-items: center; /* Center the header on mobile */
  }

  .testimonials-container {
    width: 90%;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10px 5%;
  }

  .card2 {
    flex: 0 0 70%;
    min-width: 70%;
    margin-right: 10px;
  }
}
