.reservation-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px 15%;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-form-container h2 {
  color: #495e57;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.reservation-form-container p {
  width: 100%;
  color: #333333;
  font-size: 13px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.reservation-form {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 20px;
  max-width: 600px;
  width: 100%;
}

.reservation-form label {
  color: #333333;
  font-weight: bold;
  opacity: 1;
  padding-bottom: 8px;
}

.reservation-form input[type="text"],
.reservation-form input[type="email"],
.reservation-form input[type="date"],
.reservation-form input[type="number"],
.reservation-form select,
.reservation-form textarea {
  padding: 8px;
  color: #333333;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.reservation-form textarea {
  grid-column: span 3;
  resize: vertical;
  height: 100px;
}

.reservation-form ::placeholder {
  color: #495e57;
}

.reservation-form button {
  grid-column: span 4;
  background-color: #f4ce14;
  color: #333333;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  justify-self: center;
}

.reservation-form button:hover {
  background-color: #f7d24a;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .reservation-form-container {
    margin-block: 6rem;
    padding: 20px 10%;
  }

  .reservation-form button {
    grid-column: span 2;
  }
}
