h1,
h2,
h3,
h4,
h5,
h6,
ul,
div,
main,
header,
footer,
section,
article,
li,
a,
p,
input,
select,
textarea,
table,
thead,
th,
td,
tr,
tbody,
tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

input {
  background-color: #ffffff;
}

li {
  list-style: none;
}

nav > ul > li,
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Markazi Text", serif;
  line-height: 1;
}

p {
  font-family: "Karla", sans-serif;
}
